<div class="static_article">
	<p>  	
	</p>
</div>
<div class="active_article">
	<% if current_user.nil? %>
		<h1>Plese, login, to upload files</h1>
	<% else %>
		<div class="submit_box">
			<%= form_for @file, :url => general_create_uploaded_path, :html => { :multipart => true } do |form| %>
				<%= form.hidden_field :user_id, :value => current_user.id %>
				<%= form.file_field :file %>
				<%= form.text_field :description %>
				<%= form.submit "pievienot" %>
			<% end %>
		</div>
	<% end %>
</div>


