<div class="hat">
	<img src="../assets/hat_img3.png">
</div>
<div class="menu">
	 <ul>
		<li><%= link_to "stories", pages_stories_path %></li>
		<li><%= link_to "art", pages_art_path %></li>
		<li><%= link_to "music", pages_music_path %></li>
		<li><%= link_to "soft", pages_soft_path %></li>
		<li><%= link_to "submit", general_upload_path %></li>
	</ul> 
</div>