<!DOCTYPE html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Main</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render "partials/login"%>
		<%= render "partials/header"%>
		<div class="main">
			<div class="banner1"><%= link_to image_tag(@banner.banner_file.url(:thumb)), @banner.url %></div>
			<%= yield %>
			<div class="footer"><p>Some bullshit nobody reads. Ever.</p>
			</div>
		</div>
	</body>
</html>